.container
{
    width: 95%;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px 0;

}
.container ul 
{
    padding: 0;
    margin: 0;
}
.container ul li
{
    list-style: none;
    float: left;
    width: 19%;
    height: 270px;
    margin: 40px 30px 0px 40px;
    box-sizing: border-box;
    border: solid black 1px;
    border-radius: 20px;
    background-color: #ffd9b3;
}
.container ul li:hover
{
   opacity: 0.9;
   background-color: #ff9933;
}
@media screen and (max-width:1200px)
 {
    .container ul li
    {
        width: 40%;
        margin-left: 40px;
    }
    
}
.img
{
   

    height: 100px;
    width: 100px;
    margin-top: 40px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid antiquewhite 3px;
    object-fit: cover;
}
.logo
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: antiquewhite;
    
    margin-left: 25px;

}
.text
{
    margin-left: 100px;
    font-size: 20px;
}
body{
    background-color: #ffc266;
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
    .logo{
        height: 25px;
        border-radius: 50%;
    }
}
.nav
{
    height: 40px;
    width: 40px;
    margin-top: 30px;
}
.heading
{
    font-size: 40px;
    margin-left: 600px;
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
    .heading{
        font-size: 25px;
        margin-left:40px;
    }
}
@media screen and (min-width:767px) and (max-width: 900px)
{
    .heading
    {
        font-size: 30px;
        margin-left: 50px;
    }
}
@media screen and (min-width:900px) and (max-width: 1200px)
{
    .heading
    {
        font-size: 30px;
        margin-left: 30px;
    }

}
.navbar
{
  text-align: right;
  padding: 10px;
  position: fixed;
  top: 30px;
  right: 30px;
  
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .navbar{
    top: 20px;
    right: 20px;
    padding: 5px;
  }
}
@media screen and (min-width:767px) and (max-width: 900px)
{
    .navbar
    {
        right: 5px;
        top: 5px;
        padding: 5px;
    }

}
.menu
{
   text-decoration: none;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   color: black;
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .menu{
    padding: 4px;
    font-size: 15px;
  }
}
@media screen and (min-width:300px) and (max-width: 768px)
{
    .menu{
        padding: 3px;
        font: 20px;
    }
}
.menu:hover
{
    color: red;
}

