<<<<<<< HEAD
body{
       background-color: #ffc266;
}
.navbar
{
  text-align: right;
  padding: 10px;
  position: fixed;
  top: 30px;
  right: 30px;

}
.menu
{
   text-decoration: none;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
}
      .heading

       {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
        text-align: left;
        margin: 20px;
        
       }
       .parent
       {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
       }
       .img-books
       {
        height: 230px;
        width: 200px;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
       }
       .images
       {
        height: 300px;
        width: 230px;
        background-color: rgb(204, 140, 66);
        margin: 10px;
        border-radius: 10px;
       }
       .para
       {
        font-size: large;
        text-align: center;
       }
       body{
              background-color: #ffc266;
       }
       .new-img
       {
              margin-top: 20px;
       }