body{
       background-color: #ffc266;
}
.navbar
{
  text-align: right;
  padding: 10px;
  position: fixed;
  top: 30px;
  right: 30px;

}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .navbar{
    top: 20px;
    right: 20px;
    padding: 5px;
  }
}
.menu
{
   text-decoration: none;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
   color: black;
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .menu{
    padding: 4px;
    font-size: 15px;
  }
}
.menu:hover{
       color: red;
}

.heading-li
{
    font-family:  Calibri, sans-serif;
    font-size: 50px;
    color: red;
    margin: 20px;
    text-align: left;
    
    
}
      .heading
       {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
        text-align: left;
        margin-left:550px;
        margin-bottom: 45px;
        color: #804000;
        
       }
       /* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .heading
  {
    font-size: 25px;
    margin-left:15px;
  }
}
@media screen and (min-width:769px) and (max-width: 900px)
{
  .heading
  {
    font-size: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width:900px) and (max-width: 1200px)
{
  .heading
  {
    font-size: 30px;
    margin-left: 20px
  }
}

       .parent
       {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        flex-flow: wrap;
        
       }
      
 
      

       .img-books
       {
        height: 230px;
        width: 200px;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
       }
       @media screen and (min-width:300px) and (max-width: 768px)
       {
              width: 90%;
              
       }
       
       .images
       {
        height: 300px;
        width: 230px;
        background-color: rgb(204, 140, 66);
        margin: 10px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
       }
       .images:hover
       {
              transform: scale(1.1);
       }
       .para
       {
        font-size: large;
        text-align: center;
       }
       body{
              background-color: #ffc266;
              font-family: sans-serif;
       }
       .new-img
       {
              margin-top: 20px;
       }
       