body{
    background-color:#ffc266;
    margin: 0px;
}
.login-container{
    background-color: white;
    height: 500px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding: 10px;
    border-radius: 20px;
    border-top:18px solid #cc7a00;
    border-bottom:4px solid #cc7a00 ;
    border-left:4px solid #cc7a00 ;
    border-right: 4px solid #cc7a00;

}
.login-heading{
    text-align: center;
    
}
.login-reg-page{
    color: red;
    text-decoration: none;
    display: inline-block;
}
.login-reg-page:hover{
    font-size: 17px;
}
.login-space{
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 6px;
}

.login-email{
    margin-left: 10px;
    display: block;
    height: 35px;
    width: 300px;
    border: 1px solid black;
}
.login-password{
    color: red;
    text-align: right;
    cursor: pointer;
}
.login-password:hover{
    font-size: 17px;
}
.login-button{

    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color:#ffc266;
    color: black;
    width: 255px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 15px;

}
.login-button:hover{
    width: 257px;
    height: 47px;
    background-color:#cc7a00;
}
.another-login{
    text-align: center;
}
.login-img{
    display: inline-block;
    margin-left: 50px;
    border-radius: 50%;
    cursor: pointer;
    

}  
.div{
    padding: 6px ;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
    color: #000000;
}
.div:hover{
    color: red;
}
.navbar{
    padding: 10px;
    margin-top: 15px;
    text-align: right;
}
