.navbar
{
  text-align: right;
  padding: 10px;
  position: fixed;
  top: 30px;
  right: 30px;
  
  
}
.menu
{
   text-decoration: none;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   color: black;
}
.menu:hover
{
    color: red;
}
.heading
{
    font-family:  Calibri, sans-serif;
    font-size: 45px;
    color: red;
    margin: 20px;
    text-align: left;
}
        
    
body{
    font-family: Arial, sans-serif;
    background-color:  #ffc266;
    margin: 0;
    padding: 0;
    
}
.container
{
    width: 340px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 15px;
    background-color:#fff;
    border-radius: 20px;
    border-top: 15px solid #cc7a00;
    border-bottom: 2px solid #cc7a00;
    border-left: 2px solid #cc7a00;
    border-right: 2px solid #cc7a00;
}
.label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;

}
.username{
    width: 325px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
}
.password{
    width: 325px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
}

.register-btn {
    width: 140px;
    padding: 14px;
    background-color:#cc7a00;
    color:black;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
   

}
.register-btn:hover{
    background-color: #45a049;
}
.message{
    text-align: center;
    margin-top: 20px;   
     text-decoration: none;

}

.login{
    text-decoration: none;
}


