.navbar
{
  text-align: right;
  padding: 10px;
  position: fixed;
  top: 30px;
  right: 30px;

}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .navbar{
    top: 20px;
    right: 20px;
    padding: 5px;
  }
}
.menu
{
   text-decoration: none;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
   color: black;
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .menu{
    padding: 4px;
    font-size: 15px;
  }
}
.menu:hover
{
  color: red;
  
}
.heading
{
    font-family:  Calibri, sans-serif;
    font-size: 50px;
    color: black;
    margin: 20px;
    text-align: left;
    
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .heading
  {
    font-size: 25px;
  }
}

.container
{
  width: 600px;
  height: 500px;
  margin: 30px;
}
.library-img
{
  height: 500px;
  width: 1400px;
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .library-img
  {
  height: 250px;
  width: 640px;
  margin-top: 30px;
  }
}
body
{
  background-color: #ffc266;
  
  font-family: sans-serif;
}
.section
{
  
  display: flex;
  justify-content: space-between;
  padding: 40px;
  height: 200px;

}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .section{
    padding: 20px;
    height: 90;
}
}
.section img{
  height: 170px;
  border-radius: 20px;

}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .section .img
  {
    height: 130px;
    width: 200px;
    margin-top: 55px;
  }
}
.img{
   margin-top: 10px;
}
.text-1
{
  color: #cc3300;
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .text-1
  {
    font-size: 15px;
  }
}
.library-sys
{
  font-size: 38px;
}
/* mobile device*/
@media screen and (min-width:300px) and (max-width: 768px)
{
  .library-sys
  {
    font-size: 20px;
    
  }
}




     
