.navbar
{
  text-align: right;
  padding: 10px;
  position: fixed;
  top: 30px;
  right: 30px;
  color: black;

}
.menu
{
   text-decoration: none;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
}
.menu:hover
{
  color: red;
}
.heading
{
    font-family:  Calibri, sans-serif;
    font-size: 50px;
    color: red;
    margin: 20px;
    text-align: left;
    
}

.container
{
  width: 600px;
  height: 500px;
  margin: 30px;
}
.library-img
{
  height: 500px;
  width: 1400px;
}
body
{
  background-color: #ffc266;
  
  font-family: sans-serif;
}
.section
{
  
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.section img{
  height: 170px;
  border-radius: 10px;

}
.img{
   margin-top: 10px;
}
.text-1
{
  color: #cc3300;
}




     
